.Footer {
    align-items: center;
    background-color: $black-color;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 25px 0;

    &-box {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-around;
    }

    &-right {
        display: flex;
        justify-content: center;

        &-box {
            align-content: center;
            align-items: center;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            justify-content: center;
            width: 100%;
        }

        &-img {
            border: $white-color 2px double;
            height: 189px;
            width: 190px;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &-list {
            align-items: center;
            border-bottom: $cozy-green-lite 2px solid;
            border-top: $cozy-green-lite 2px solid;
            display: flex;
            height: 100px;
            justify-content: space-between;
            width: 100%;
        }

        &-item {
            color: $white-color;
            cursor: pointer;
            font-family: "Roboto Mono", monospace;
            list-style: none;
            margin: 16px;
            text-decoration: none;

            &:hover {
                color: $yellow-color;
            }
        }

        &-gif {
            height: 65%;
            width: 100%;
        }

        &-privacy {
            color: $white-color;
            font-size: 18px;
            margin-top: 25px;
        }

        &-icons {
            width: 23%;
            display: flex;
            justify-content: space-evenly;
            font-size: 25px;
        }

        &-color {
            color: $white-color;
        }
    }
}
