.Footer {
    align-items: center;
    background-color: $black-color;
    display: flex;
    height: 540px;
    justify-content: center;
    width: 100%;

    &-box {
        display: flex;
        flex-wrap: nowrap;
        height: 74%;
        width: 90%;
    }

    &-right {
        display: flex;
        height: 100%;
        justify-content: center;
        width: 50%;

        &-box {
            align-content: center;
            align-items: center;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            gap: 10px;
            height: 100%;
            justify-content: center;
            width: 600px;
        }

        &-img {
            background-color: antiquewhite;
            border: $white-color 2px double;
            height: 189px;
            width: 190px;
        }
    }

    &-left {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        width: 50%;

        &-list {
            align-items: center;
            border-bottom: $cozy-green-lite 2px solid;
            display: flex;
            height: 100px;
            justify-content: space-between;
            width: 100%;
        }

        &-item {
            color: $white-color;
            cursor: pointer;
            font-family: "Roboto Mono", monospace;
            list-style: none;
            margin: 16px;
        }

        &-item:hover {
            color: $yellow-color;
        }

        &-gif {
            height: 65%;
            width: 100%;
        }
    }
}
