.Header {
    &-nav {
        background-color: $nav-color;
        height: 100px;
        width: 100%;
    }

    &-logo {
        height: 70px;
        width: 109px;
    }

    &-list {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        list-style: none;

        &-item {
            align-items: center;
            display: flex;
            height: 100px;
            justify-content: center;
            width: 807px;
        }

        &-button {
            background-color: $button-color;
            border-radius: 21px;
            color: $white-color;
            font-size: 15px;
            height: 42px;
            width: 135px;
        }

        &-button:hover {
            background-color: $button-dark;
        }
    }

    &-text {
        color: $white-color;
        cursor: pointer;
        font-family: $nav-font;
        margin: 16px;
    }

    &-text:hover {
        color: $button-color;
    }
}
