.NavBar {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 90px;

    &-Image {
        height: 100%;
        width: 200px;
    }

    &-List {
        color: white;
        display: flex;
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
        justify-content: space-evenly;
        list-style: none;
        width: 100%;
    }
}

.Marvel-Image {
    height: 100%;
    margin-left: 20px;
    width: 100%;
}

.NavBar-Text:hover {
    color: red;
}
