.NavBar {
    background-color: rgba(0, 0, 0, 0.4);
    height: 90px;
    display: flex;
    align-items: center;

    &-Image{
        width: 200px;
        height: 100%;
    }

    &-List {
        display: flex;
    list-style: none;
    color: white;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    }
  }
  
  
  .Marvel-Image {
    width: 100%;
    height: 100%;
    margin-left: 20px;
  }
  
  .NavBar-Text:hover {
    color: red;
  }