.tab {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.tab button {
    background-color: inherit;
    border: none;
    border: 1px solid $cozy-green-lite;
    cursor: pointer;
    float: left;
    height: 52px;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    width: 346px;
}

.tab button:hover {
    background: -webkit-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: -moz-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: -o-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    color: $white-color;
}

.tab button.active {
    background: -webkit-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: -moz-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: -o-linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    background: linear-gradient(90deg, $black-color 0%, $red-dark 100%);
    color: $white-color;
}

.tabcontent {
    border: 1px solid $cozy-green-lite;
    border-top: none;
    display: none;
    padding: 6px 12px;
}
