.AboutUs {
  margin-left: auto;
  margin-right: auto;
  padding-top: 120px;
  width: 1440px;

  &-content {
    max-width: 100%;
    width: 100%;
    display: flex;
    background-color: $home-darkgrey;
  }

  &-text {
    width: 50%;
    color: $home-white;
  }
}
