.Pricing {
  padding: 120px 0 80px;

  &-container {
    width: 1140px;
  }

  &-padding {
    max-width: 33.33%;
    padding: 0 15px;
  }

  &-background {
    color: #f2f2f2;
    background: linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
    margin-bottom: 40px;
    width: 350px;
  }

  &-package-title {
    text-align: center;
    margin: 0;
    padding: 35px 30px 25px;
  }

  &-price {
    font-size: 36px;
    padding: 30px;
    text-align: center;
    background: #342b7e;
  }

  &-list {
    list-style: none;
    padding: 35px 50px 18px;

    &-item {
      font-weight: 400;
      padding: 14px 0;
      border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
    }
  }

  &-button {
    max-width: 198px;
    width: 100%;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  &-tag {
    text-decoration: none;
    border: 2px solid;
    border-image: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
    border-image-slice: 1;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    padding: 0 60px;
    line-height: 46px;

    &:hover {
      background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
      color: black;
    }
  }
}
