html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: normal; }

body {
  margin: 0; }

ul {
  margin: 0; }

h1 {
  margin: 0; }

.About-nav {
  background-color: #17202a;
  height: 100px;
  width: 100%; }

.About-logo {
  height: 70px;
  width: 109px; }

.About-list {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  list-style: none; }
  .About-list-item {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 807px; }
  .About-list-button {
    background-color: #884ea0;
    border-radius: 21px;
    color: #fdfefe;
    font-size: 15px;
    height: 42px;
    width: 135px; }
  .About-list-button:hover {
    background-color: #4a235a; }

.About-text {
  color: #fdfefe;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  margin: 16px; }

.About-text:hover {
  color: #884ea0; }

.About-banner {
  display: flex;
  height: 548px;
  width: 100%; }
  .About-banner-sides {
    background-repeat: no-repeat;
    background-size: cover;
    height: 548px;
    width: 50%; }
  .About-banner-first {
    background-image: url(/public/img1.jpg); }
  .About-banner-second {
    background-image: url(/public/img2.jpg); }
  .About-banner-food {
    align-items: center;
    background-color: #000000;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 100%; }
    .About-banner-food-text {
      color: #f4d03f;
      font-family: "Permanent Marker", cursive;
      font-size: 33px;
      text-shadow: 3px 3px 0 #c0392b, -1px -1px 0 #884ea0, 1px -1px 0 #fdfefe, -1px 1px 0 #4a235a, 1px 1px 0 #eaeded; }

.About-box {
  align-items: center;
  background-color: #eaeded;
  display: flex;
  height: 726px;
  justify-content: center;
  width: 100%; }

.About-card {
  display: flex;
  height: 485px;
  width: 1012px; }
  .About-card-left {
    align-items: center;
    background-color: #000000;
    border: #fdfefe 5px dotted;
    display: flex;
    height: 485px;
    justify-content: center;
    width: 50%; }
  .About-card-right {
    background-image: url(/public/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border: #c0392b 5px dotted;
    height: 485px;
    width: 50%; }
  .About-card-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 392px;
    justify-content: center;
    width: 453px; }
  .About-card-text {
    color: #fdfefe;
    font-size: 21px; }
  .About-card-heading {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 800; }

.About-testimonials {
  height: 510px;
  width: 100%;
  border-top: #000000 10px double;
  border-bottom: #000000 10px double;
  background-image: url(/public/img4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }

.slider {
  position: relative;
  width: 300px;
  overflow: hidden; }

.slides {
  display: flex;
  transition: transform 0.5s ease; }

.slide {
  flex: 0 0 100%;
  padding: 20px;
  text-align: center; }

.NavBar {
  background-color: rgba(0, 0, 0, 0.4);
  height: 90px;
  display: flex;
  align-items: center; }
  .NavBar-Image {
    width: 200px;
    height: 100%; }
  .NavBar-List {
    display: flex;
    list-style: none;
    color: white;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }

.Marvel-Image {
  width: 100%;
  height: 100%;
  margin-left: 20px; }

.NavBar-Text:hover {
  color: red; }

/*# sourceMappingURL=main.css.map */