@import "main.css";

body {
  margin: 0;
}

.Marvel-Image {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

.NavBar-Text:hover {
  color: red;
}

.button {
  font-size: 25px;
  background-color: white;
  border-radius: 50px;
  width: 230px;
  max-width: 250px;
  height: 60px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.button:hover {
  background-color: red;
  color: white;
}
