$nav-color: rgb(23, 32, 42);
$button-color: rgb(136, 78, 160);
$button-dark: rgb(74, 35, 90);
$yellow-color: rgb(244, 208, 63);
$white-color: rgb(253, 254, 254);
$cozy-green: rgb(234, 237, 237);
$black-color: rgb(0, 0, 0);
$red-color: rgb(192, 57, 43);
$nav-font: "Roboto Mono", monospace;
$food-font: "Permanent Marker", cursive;
$home-darkgrey: rgb(28, 28, 28);
$home-white: rgb(255, 255, 255);
$cozy-green-lite: rgb(133, 146, 158);
$cozy-green-lite-darkest: rgb(81, 94, 105);
$red: rgb(255, 0, 0);
$grey: rgb(128, 128, 128);
$pricing-text: #f2f2f2;
$pricing-background: linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
$pricing-price: #342b7e;
$pricing-border: rgba(255, 255, 255, 0.2);
$blue-gradient: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
$pricing-tag: rgb(255, 255, 255);
