.Games {
    &-gallery {
        align-items: center;
        display: flex;
        height: 723px;
        justify-content: center;
        width: 100%;

        &-container {
            height: 530px;
            width: 1140px;
        }

        &-box {
            display: flex;
            height: 385px;
        }

        &-title {
            color: $button-color;
            display: flex;
            font-size: 25px;
            height: 144px;
            justify-content: center;
            width: 100%;
        }

        &-card {
            display: flex;
            height: 386px;
            justify-content: center;
            width: 285px;
            position: relative;
        }

        &-image {
            border-radius: 125px;
            height: 340px;
            width: 253px;
        }

        &-text {
            align-items: center;
            background: $opacity;
            display: flex;
            height: 61px;
            justify-content: center;
            position: absolute;
            text-align: center;
            top: 45%;
            transform: translateY(-50%);
            -moz-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
            width: 253px;
            opacity: 4;
        }

        &-text:hover {
            background: $opacity-lite;
        }

        &-anchor {
            color: $white-color;
            font-size: 18px;
            text-decoration: none;
        }
    }
}
