<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>About Page</title>
  </head>

  <body class="About">
    <nav class="About-nav">
      <ul class="About-list">
        <img class="About-logo" src="../assets/img/logo.png" alt="nav-logo" />
        <div class="About-list-item">
          <li class="About-text">HOME</li>

          <li class="About-text">ABOUT</li>
          <li class="About-text">GALLERY</li>
          <li class="About-text">COMICS</li>
          <li class="About-text">BLOG</li>
          <li class="About-text">CONTACT</li>
        </div>
        <button class="About-list-button">JOIN US</button>
      </ul>
    </nav>
    <div class="About-banner"></div>
  </body>
</html>
