<section class="AboutUs-box">
    <div class="AboutUs-card">
        <div class="AboutUs-card-left">
            <div class="AboutUs-card-box">
                <h1 class="AboutUs-card-heading">AboutUs US</h1>
                <p class="AboutUs-card-text">-In Ancient Egypt, the first events that have been found represented are
                    some petroglyphs that
                    date from the time of the first Scorpion king (more than 5000 years ago), a little later we find
                    representations of the mace and paddles of several sovereigns. . protodynastic and archaic
                    period, such as the Narmer palette and the mace head of the second Scorpion king, exhibited in
                    the Ashmolean Museum. The need of Egyptian sovereigns to narrate their own history and exploits,
                    especially in temples and tombs.</p>
            </div>
        </div>
        <div class="AboutUs-card-right">

        </div>
    </div>
</section>