<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>About Page</title>
</head>

<body class="About">
    <div id="common-header"></div>
    <div id="common-banner"></div>
    <div id="common-aboutus"></div>


    <section class="About-testimonials">
        <div class="slider">
            <div class="slides">
                <div class="slide">
                    <h2>Título 1</h2>
                    <p>Texto 1</p>
                </div>
                <div class="slide">
                    <h2>Título 2</h2>
                    <p>Texto 2</p>
                </div>
                <div class="slide">
                    <h2>Título 3</h2>
                    <p>Texto 3</p>
                </div>
            </div>
        </div>
    </section>

    <script src="/src/js/header.js"></script>
    <script src="/src/js/banner.js"></script>
    <script src="/src/js/aboutus.js"></script>
    <script src="/src/js/main.js"></script>
</body>

</html>