<footer class="Footer">
    <div class="Footer-box">
        <div class="Footer-right">
            <div class="Footer-right-box">
                <img class="Footer-right-img" src="/public/gallery1.jpg" alt="">
                <img class="Footer-right-img" src="/public/gallery2.jpg" alt="">
                <img class="Footer-right-img" src="/public/gallery3.jpg" alt="">
                <img class="Footer-right-img" src="/public/gallery4.jpeg" alt="">
            </div>
        </div>
        <div class="Footer-left">
            <div class="Footer-left-list">
                <li class="Footer-left-item">
                    HOME
                </li>
                <li class="Footer-left-item">
                    ABOUT
                </li>
                <li class="Footer-left-item">
                    GALLERY
                </li>
                <li class="Footer-left-item">
                    COMICS
                </li>
                <li class="Footer-left-item">
                    BLOG
                </li>
                <li class="Footer-left-item">
                    CONTACT
                </li>
            </div>
            <img class="Footer-left-gif" src="/public/gif1.gif" src="" alt="">
        </div>
</footer>