<footer class="Footer">
    <div class="Footer-box">
        <div class="Footer-right">
            <div class="Footer-right-box">
                <img class="Footer-right-img" src="/public/gallery1.jpg" alt="gallery-img">
                <img class="Footer-right-img" src="/public/gallery2.jpg" alt="gallery-img">
                <img class="Footer-right-img" src="/public/gallery3.jpg" alt="gallery-img">
                <img class="Footer-right-img" src="/public/gallery4.jpeg" alt="gallery-img">
                <img class="Footer-right-img" src="/public/gallery5.webp" alt="gallery-img">
                <img class="Footer-right-img" src="/public/gallery6.webp" alt="gallery-img">
            </div>
        </div>
        <div class="Footer-left">
            <div class="Footer-left-list">
                <li>
                    <a class="Footer-left-item" href="/">HOME</a>
                </li>
                <li>
                    <a class="Footer-left-item" href="/src/pages/about.html">ABOUT</a>
                </li>
                <li>
                    <a class="Footer-left-item" href="#">GALLERY</a>
                </li>
                <li class="Dropdown">
                    <a class="Header-text " href="#">PAGES</a>
                    <div class="Dropdown-content Dropdown-block">
                        <a class="Dropdown-anchor" href="/src/pages/pricing.html">PRICING</a>
                        <a class="Dropdown-anchor" href="/src/pages/games.html">GAMES</a>
                    </div>
                </li>
                <li>
                    <a class="Footer-left-item" href="#">BLOG</a>
                </li>
                <li>
                    <a class="Footer-left-item" href="/src/pages/contact.html">CONTACT</a>
                </li>
            </div>
            <img class="Footer-left-gif" src="/public/gif1.gif" alt="fotter-gif">
        </div>
</footer>