<header>
    <nav class="Header-nav">
        <ul class="Header-list">
            <img class="Header-logo" src="../assets/img/logo.png" alt="header-logo">
            <div class="Header-list-item">
                <li class="Header-text">
                    HOME
                </li>
                <li class="Header-text">
                    ABOUT
                </li>
                <li class="Header-text">
                    GALLERY
                </li>
                <li class="Header-text">
                    COMICS
                </li>
                <li class="Header-text">
                    BLOG
                </li>
                <li class="Header-text">
                    CONTACT
                </li>
            </div>
            <button class="Header-list-button">JOIN US</button>
        </ul>
    </nav>

</header>