<header>
    <nav class="Header-nav">
        <ul class="Header-list">
            <img class="Header-logo" src="../assets/img/logo.png" alt="header-logo">
            <div class="Header-list-item">
                <li>
                    <a class="Header-text" href="/">HOME</a>
                </li>
                <li>
                    <a class="Header-text" href="/src/pages/about.html">ABOUT</a>
                </li>
                <li>
                    <a class="Header-text" href="#">GALLERY</a>
                </li>
                <li class="dropdown">
                    <a class="Header-text dropbtn" href="#">PAGES</a>
                    <div class="dropdown-content">
                        <a href="/src/pages/pricing.html">PRICING</a>
                        <a href="/src/pages/games.html">GAMES</a>
                    </div>
                </li>
                <li>
                    <a class="Header-text" href="#">BLOG</a>
                </li>
                <li>
                    <a class="Header-text" href="/src/pages/contact.html">CONTACT</a>
                </li>
            </div>
            <button class="Header-list-button">JOIN US</button>
        </ul>
    </nav>
</header>