.About {
    &-testimonials {
        height: 510px;
        width: 100%;
        border-top: $black-color 10px double;
        border-bottom: $black-color 10px double;
        background-image: url(/public/img4.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: baseline;

        &-slider {
            position: relative;
            width: 500px;
            overflow: hidden;
        }

        &-slides {
            display: flex;
            align-items: center;
        }

        &-slide {
            flex: 0 0 100%;
            text-align: center;
            padding-right: 64px;
            padding-top: 85px;
        }

        &-paragraph {
            margin-left: 60px;
            margin-right: 60px;
            color: $white-color;
            font-size: 20px;
            font-weight: 600;
        }

        &-title {
            color: $white-color;
            font-size: 40px;
        }

        &-img {
            width: 150px;
            height: 150px;
            border: 3px solid #555;
            transform: rotate(-45deg) skew(-7deg, -7deg);
            margin-bottom: 31px;
        }
    }
}
