.About {
    &-testimonials {
        height: 510px;
        width: 100%;
        border-top: $black-color 10px double;
        border-bottom: $black-color 10px double;
        background-image: url(/public/img4.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: baseline;

        &-slider {
            position: relative;
            width: 500px;
            overflow: hidden;
        }

        &-slides {
            display: flex;
            align-items: center;
        }

        &-slide {
            flex: 0 0 100%;
            text-align: center;
            padding-right: 64px;
            padding-top: 85px;
        }

        &-paragraph {
            margin-left: 60px;
            margin-right: 60px;
            color: $white-color;
            font-size: 20px;
            font-weight: 600;
        }

        &-title {
            color: $white-color;
            font-size: 40px;
        }

        &-img {
            width: 150px;
            height: 150px;
            border: 3px solid #555;
            transform: rotate(-45deg) skew(-7deg, -7deg);
            margin-bottom: 31px;
        }
    }

    &-review {
        width: 100%;
        height: 947px;
        display: flex;
        justify-content: center;
        align-items: center;

        &-head {
            width: 1137px;
            height: 143px;
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            &-text {
                color: $yellow-color;
                font-family: $food-font;
                font-size: 40px;
                text-shadow: 3px 3px 0 $red-color, -1px -1px 0 $button-color, 1px -1px 0 $white-color, -1px 1px 0 $button-dark, 1px 1px 0 $cozy-green;
            }
        }

        &-container {
            height: 713px;
            width: 1137px;

            &-row {
                display: flex;
                width: 1137px;
                height: 163px;
            }

            &-box {
                width: 568px;
                height: 163px;
            }

            &-text {
                color: $button-color;
                font-size: 25px;
                margin-left: 25px;
                margin-top: 25px;
            }

            &-paragraph {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                width: 526px;
                margin-top: 10px;
                margin-left: 25px;
                color: $cozy-green-lite;
            }
        }
    }

    &-border {
        &-up {
            border-top: $cozy-green-lite 2px dotted;
        }

        &-down {
            border-bottom: $cozy-green-lite 2px dotted;
        }

        &-right {
            border-right: $cozy-green-lite 2px dotted;
        }
    }
}
