.About {
    &-nav {
        background-color: $nav-color;
        height: 100px;
        width: 100%;
    }

    &-logo {
        height: 70px;
        width: 109px;
    }

    &-list {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: center;
        list-style: none;

        &-item {
            align-items: center;
            display: flex;
            height: 100px;
            justify-content: center;
            width: 807px;
        }

        &-button {
            background-color: $button-color;
            border-radius: 21px;
            color: $white-color;
            font-size: 15px;
            height: 42px;
            width: 135px;
        }

        &-button:hover {
            background-color: $button-dark;
        }
    }

    &-text {
        color: $white-color;
        cursor: pointer;
        font-family: $nav-font;
        margin: 16px;
    }

    &-text:hover {
        color: $button-color;
    }

    &-banner {
        display: flex;
        height: 548px;
        width: 100%;

        &-sides {
            background-repeat: no-repeat;
            background-size: cover;
            height: 548px;
            width: 50%;
        }

        &-first {
            background-image: url(/public/img1.jpg);
        }

        &-second {
            background-image: url(/public/img2.jpg);
        }

        &-food {
            align-items: center;
            background-color: $black-color;
            display: flex;
            height: 100px;
            justify-content: center;
            width: 100%;

            &-text {
                color: $yellow-color;
                font-family: $food-font;
                font-size: 33px;
                text-shadow: 3px 3px 0 $red-color, -1px -1px 0 $button-color, 1px -1px 0 $white-color, -1px 1px 0 $button-dark, 1px 1px 0 $cozy-green;
            }
        }
    }

    &-box {
        align-items: center;
        background-color: $cozy-green;
        display: flex;
        height: 726px;
        justify-content: center;
        width: 100%;
    }

    &-card {
        display: flex;
        height: 485px;
        width: 1012px;

        &-left {
            align-items: center;
            background-color: $black-color;
            border: $white-color 5px dotted;
            display: flex;
            height: 485px;
            justify-content: center;
            width: 50%;
        }

        &-right {
            background-image: url(/public/img3.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border: $red-color 5px dotted;
            height: 485px;
            width: 50%;
        }

        &-box {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            height: 392px;
            justify-content: center;
            width: 453px;
        }

        &-text {
            color: $white-color;
            font-size: 21px;
        }

        &-heading {
            color: white;
            font-family: $nav-font;
            font-size: 40px;
            font-weight: 800;
        }
    }

    &-testimonials {
        height: 510px;
        width: 100%;
        border-top: $black-color 10px double;
        border-bottom: $black-color 10px double;
        background-image: url(/public/img4.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
