$nav-color: rgb(23, 32, 42);
$button-color: rgb(136, 78, 160);
$button-dark: rgb(74, 35, 90);
$yellow-color: rgb(233, 223, 183);
$white-color: rgb(253, 254, 254);
$cozy-green: rgb(234, 237, 237);
$black-color: rgb(0, 0, 0);
$red-color: rgb(192, 57, 43);
$red-dark: rgb(148, 49, 38);
$nav-font: "Roboto Mono", monospace;
$food-font: "Permanent Marker", cursive;
$home-darkgrey: rgb(28, 28, 28);
$home-white: rgb(255, 255, 255);
$cozy-green-lite: rgb(133, 146, 158);
$cozy-green-lite-darkest: rgb(81, 94, 105);
$opacity: rgba(128, 0, 128, 0.5);
$opacity-lite: rgba(184, 87, 184, 0.5);
$cream-color: rgb(252, 243, 207);
